@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 100vh 0px 0px;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(#00c8ff, #0083ff);
    position: relative;
    overflow: hidden;
}

.left {
    position: absolute;
    top: 25%;
    left: -50%;
    z-index: -10;
    display: inline-block;
    height: 100vw;
    width: 100vw;
    box-shadow: 0 0 100px 1px #00c8ff;
    background: none;
    border-radius: 50%;
}

.right {
    position: absolute;
    left: 50%;
    bottom: 25%;
    z-index: -10;
    display: inline-block;
    height: 100vw;
    width: 100vw;
    box-shadow: 0 0 100px 1px #00c8ff;
    background: none;
    border-radius: 50%;
}

.container {
    height: auto;
    width: auto;
    padding: 5vh;
    display: grid;
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1f;
    border-radius: 20px;
    background-color: white;
    position: relative;
}

.container img {
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    border: #00c8ff solid 5px;
    border-radius: 50%;
    padding: 5%;
}

.container input::placeholder {
    font-family: 'Quicksand', sans-serif;
}

.container a {
    display: inline-block;
    padding: 5% 10%;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 800;
    text-decoration: none;
    color: white;
    background-color: #00c8ff;
    border: 1px solid #00c8ff;
    transition: all .3s;
}

.container a:hover {
    color: #00c8ff;
    background-color: white;
}